* {
  margin: 0;
  padding: 0;
  font-family: Open Sans,sans-serif;
}
body {
  background-color: #ebf2f2;
}
@font-face {
  font-family: Metropolis;
  src: url('../fonts/Metropolis-Bold.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Metropolis-Text;
  src: url('../fonts/Metropolis-Regular.ttf');
  font-weight: 400;
}
