.card {
  position: relative;
  width: 40%;
  padding: 40px 30px;
  margin-bottom: 25px;
  background-color: white;
  transition-duration: 0.5s;
  border-radius: 5px;
  font-family: Metropolis,sans-serif;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
  }
}
.imgContainer {
  align-self: flex-start;
  width: 18.5%;
}
.icon {
  height: 60px;
  max-width: 100%;
}
.cardContent {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.cardText {
  margin: 16px 0;
}
.cardTextContainer {
  //padding-left: 20px;
  width: 76.5%;
}
@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
}
