.cardList {
  position: relative;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px auto;
}
.cardListContainer {
  padding: 0 20px;
}
.noResults {
  text-align: center;
  font-size: 30px;
}
