.expandedMenu {
  position: absolute;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  background-color: white;
  border-radius: 5px;
  top: 45px;
}
.expandedMenu > ul {
  padding: 37px 30px;
  width: 170px;
}
