.footerContainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px 50px;
}
.footerContent {
  border-top: 2px solid black;
  padding-top: 20px;
  margin-bottom: 100px;
}
.footerContent {
  h2 {
    font-size: 1.5rem;
    margin-top: .4em;
    padding-bottom: 2rem;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .footerContent {
    margin-bottom: 60px;
    h2 {
      font-size: 1.25rem;
      margin-bottom: 30px;
    }
  }
}

.footerAnchorsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.anchor {
  padding: 0;
  margin: 0;
  flex: 50%;
  outline: none;
  max-width: 50%;
  line-height: 25px;
}
.anchorContainer {
  width: auto;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.anchorContainer {
  h3 {
    font-size: 16px;
    color: #086dc3;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: 16px;
    color: #333;
  }
}
