.footer {
  border-top: 2px solid #d9e9e9;
}
.LearnMore {
  padding: 80px 0;
  overflow: hidden;
}
.LearnMoreContainer {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.third {
  width: 27.5%;
}
.third {
  h2 {
    font-size: 1.5rem;
    margin-top: .4em;
    margin-bottom: .4em;
    font-family: Metropolis, sans-serif;
  }
  p {
    margin: 7px 0;
    line-height: 1.7em;
  }
  a {
    position: relative;
    text-decoration: none;
    color: #086dc3;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -3px;
      left: 0;
      background-color: #086dc3;
      visibility: hidden;
      transform-origin: top left;
      transform: scaleX(0);
      transition: all .3s ease-in-out 0s;
    }
    &:hover {
      &::before{
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
@media screen and (max-width: 800px){
  .third {
    h2 {
      font-size: 1.25rem;
    }
    p {
      font-size: .9375rem;
      color: #333;
    }
  }
  .LearnMore {
    padding: 40px 0;
  }
}

.footerInfoContainer {
  background: #fff;
}
.AdditionalInfo {
  padding: 50px 0 40px;
  max-width: 1320px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.AdditionalInfoContainer {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.AdditionalInfoContent {
  display: flex;
  justify-content: space-between;
}
.AdditionalInfoLists {
  margin-right: 20px;
  flex-grow: .6;
}
.AdditionalInfoListsContainer {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.infoListsColumn {
  margin-right: 10px;
  transition-duration: .2s;
  p {
    font-size: .9375rem;
    line-height: 1.7em;
    margin: 15px 0;
    transition-duration: .2s;
    cursor: pointer;
    &:hover {
      color: #6db33f;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    margin: 16px 0;
    li{
      margin-bottom: 10px;
      transition-duration: .2s;
      cursor: pointer;
      &:hover {
        color: #6db33f;
      }
    }
  }
}
.newsletter {
  position: relative;
  h2 {
    font-family: Metropolis, sans-serif;
    margin-bottom: 20px;
    font-size: 1.5rem;
    margin-top: .4em;
  }
  form {
    width: 420px;
    position: relative;
  }
}
.officialInfo {
  color: #999;
  padding: 35px 0 60px;
}
.officialInfoContainer {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.officialInfoContent{
  p {
    max-width: 925px;
    line-height: 1.5em;
    color: #999;
    font-size: .8125rem;
    margin: 13px 0;
  }
  img {
    height: 48px;
    max-width: 250px;
  }
}
.iconLinks {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 160px;
  margin-left: 20px;
  a{
    height: 40px;
    img{
      height: 40px;
      flex-shrink: 0;
    }
  }
}
@media screen and (max-width: 500px) {
  .AdditionalInfoLists {
    display: none;
  }
  .newsletter {
    form {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px){
  .officialInfo {
    padding: 0;
  }
  .officialInfoContainer{
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  .iconLinks {
    margin: 0 0 40px;
  }
  .LearnMoreContainer {
    display: block;
  }
  .third {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 1100px){
  .officialInfoContent{
    img {
      height: 30px;
    }
  }
}
.formGroup {
  position: relative;
  display: flex;
  width: 100%;
  & > span,
  .formField {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .formField {
    width: 250px;
    height: 48px;
    border: 2px solid #191e1e;
    font-size: 1rem;
    font-family: Open Sans,sans-serif;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    border-radius: 0;
    &:focus {
      outline: none;
      border-color: #6db33f;
    }
  }
}
.formButton {
  display: inline-block;
  overflow: hidden;
  font-size: .9375rem;
  text-transform: uppercase;
  background: #191e1e;
  cursor: pointer;
  color: #fff;
  padding: 15px 41px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  border: none!important;
  height: 48px;
  transition: all .2s;
  &:hover {
    background: #6db33f;
  }
}
@media screen and (max-width: 480px){
  .formGroup {
    width: 80%;
    .formField {
      width: 200px;
    }
  }
  .formButton {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 380px){
  .formGroup {
    width: 67%;
    .formField {
      width: 150px;
    }
  }
  .formButton {
    padding: 15px;
  }
}
@media screen and (max-width: 800px){
  .newsletter {
    h2 {
      font-size: 1.25rem;
    }
  }
}
@media screen and (max-width: 900px){
  .AdditionalInfoContent {
    display: block;
  }
  .AdditionalInfoLists {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 550px;
  }
}
.agreement {
  display: flex;
  margin-top: 15px;
  input {
    transform: translateY(5px);
  }
  label {
    color: #999;
    font-size: 14px;
    line-height: 1.5em;
    margin-left: 0.7em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    display: block;
    min-height: 12px;
  }
}
