.searchInput {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  input {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    width: calc(100% - 16px);
    padding: 8px;
    &:focus {
      outline: none;
      border-bottom-color: #6db33f;
      transition-duration: .2s;
    }
  }
}
